@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

.heading-font {
  font-family: "Chela One", cursive;
}

.subHeading-font {
  font-family: "Slabo 27px", serif;

}

.first-font {
  font-family: "Inter", sans-serif;
}

.second-font {
  font-family: "DM Sans", sans-serif;
}
